name: iOS Fastlane with Firebase App Distribution Workflow

on:
  push:
    branches:
      - master

jobs:
  distribute_to_firebase_ios:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2.3"
          bundler-cache: true
          working-directory: ios


      - name: Install CocoaPods
        run: |
          gem install cocoapods -v '>=1.12.0'
          pod repo update

      - name: Flutter pub get
        run: flutter pub get

      - name: Install iOS Pods
        run: |
          cd ios
          bundle install || true   
          bundle exec pod install
          cd ..

      - name: Build and Distribute iOS App
        env:
          FIREBASE_CLI_TOKEN: ${{ secrets.FIREBASE_CLI_TOKEN }}
        run: |
          bundle exec fastlane ios firebase_distribution
