name: iOS Fastlane Firebase Distribution Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.0'

      - name: Install Ruby & Bundler
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.2

      - name: Install dependencies
        run: bundle install

      - name: Flutter pub get
        run: flutter pub get

      - name: Build iOS
        run: |
          flutter clean
          flutter build ios --release --no-codesign --no-tree-shake-icons

      - name: Firebase distribute
        env:
          FIREBASE_CLI_TOKEN: ${{ secrets.FIREBASE_CLI_TOKEN }}
        run: bundle exec fastlane ios firebase_distribution
